/* .header {margin:15px;} */
/* #logo {
  margin-left: 30px;

} */
#reg{margin-left: 5px;}


.styled{
    float: right;
    background: #007981;
    color: #FFF;
    font-size: 13px;
    min-width: 80px;
    padding: 3px 25px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    /* box-shadow: inset 0 2px 0 0px rgba(255,255,255,0.4); */
    /* border: 2px solid #007981; */
    font-weight: 600;
  cursor: pointer;}

/* .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} */

.favorite .styled {padding:20px; margin-top: 5px;}

/* body input[type="date"], body input[type="text"], body input[type="email"], body input[type="password"], body input[type="tel"], body input[type="number"], body .add-business-form input[type="date"] {
    outline: none;
    height: 32px;
    border: 1px solid #d1d1d1;
    color: #818181;
    padding: 10px;
    border-radius: 6px;
    
} */

/* .bg-img { */
    /* The image used */
    
    /* background-image: url("img_nature.jpg");
  
    min-height: 380px; */
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  
    /* Needed to position the navbar */
    /* position: relative; */
  /* } */
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    /* margin: 20px; */
    width: auto;
  }
  .container ul{
    float: right;
    list-style: none;
  }
  .container ul li{
    display: inline-block;
    padding: 5px 1px;

  }
  .container h4{
    font-size: 16px;
    padding-right: 50px;
  }
.circle{
  margin-left: 63px;
}
.circle-sec{
  margin-left: 35px;
}
.backg{
  height: 600px;
}
.back{
width: 100%;
height: 600px;
margin-top: 120px;
}
.tele{
  position: relative;
  bottom: 547px;
  left: 60px;}
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .text{
    /* background-color: red; */
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 960px;
    left: 750px;
  }
#third{
width: 100%;
height: 490px;
/* background-color: blue; */
}
.green{
width: 40%;
height: 90%;
/* background-color: green; */
float: left;

}
.dasti{
  /* background-color: purple; */
  width: 45%;
  height: 45%;
  margin-top: 170px;
  float: right;
}
.green h2{
  line-height: 0.4;
  color: white;
}
.white{
width: 60%;
/* height: 90%; */
/* background-color: white; */
float: right;
margin-top: 120px;
}
.comp{
  float: right;
  width: 30%;
}

#fourth{
  width: 100%;
  height: 600px;
  /* background-color: red; */
}
.vendors{
width: 70%;
height: 25%;
/* background-color: yellow; */
}
.shop{
  height: 60%;
  /* background-color: green; */
}
.shop1{
width: 16.5%;
height: 80%;
/* background-color: saddlebrown; */
float: left;
/* box-shadow: 1px grey; */
}
.shop1 h6{
  position: relative;
    left: 60px;
    top: -8px;
}
.elect{

}
.express{
  margin-top: -25px;
  margin-left: 10px;
}
#fifth{
 width: 100%;
 height: 600px;
 /* background-color: slateblue; */
}
.services{
  width: 100%;
  height: 20%;
  /* background-color: springgreen; */
}
.book{
  width: 100%;
  height: 60%;
  /* background-color: violet; */
}
.one{
  width: 70%;
  height: 33.3%;
  /* background-color:yellow; */
  margin-left: 185px;
}
.prof{
  width: 33.5%;
  height: 100%;
  /* background-color:red;   */
  box-shadow: 3px 3px 1px #ccc;
}
.prof1{
  width: 33.5%;
  height: 100%;
  /* background-color:red;   */
  box-shadow: 3px 3px 1px #ccc;
}
.prof2{
  width: 33.5%;
  height: 100%;
  /* background-color:blue; */
  position: relative;
  left: 305px;
  top: -120px;
}
.prof3{
  width: 33.5%;
  height: 100%;
  /* background-color:orange; */
  position: relative;
  left: 605px;
  top: -240px;
}
.hot{
  margin-left: 30px;
  margin-top: 40px;
}
.texty{
  position: relative;
  left: 105px;
  top: -70px;
}

.texty2{
  position: relative;
  left: 105px;
  top: -85px;

}
.two{
  width: 70%;
  height: 33.3%;
  /* background-color:black; */
  margin-left: 185px;

}
.three{
  width: 70%;
  height: 33.3%;
  /* background-color:brown; */
  margin-left: 185px;

}

#sixth{
  width: 100%;
 height: 400px;
 /* background-color: firebrick; */
}
.top{
  width: 100%;
  height: 35%;
  /* background-color: slateblue; */
}
.toper{
  width: 100%;
  height: 65%;
  /* background-color: greenyellow; */
}
.toper ul li{
  display: inline-block;
  padding: 5px 1px;

}
.ven{
  margin-left: 80px;

}
.toper h4{
  margin-left: 67px;
  line-height: 0;
}
.toper p{
  position: relative;
  left: 60px;
}

#seventh{
  width: 100%;
 height: 350px;
 /* background-color: firebrick; */
}
.recent{
  width: 100%;
  height: 30%;
  /* background-color: red; */
}
.prod{
  width: 100%;
  height: 70%;
  /* background-color: yellow; */
}
.speak{
  /* width: 16%; */
  /* height: 70%; */
  /* background-color: green; */
}
.store{
  /* width: 16%; */
  height: 50px;
  /* background-color: blue; */
}
.store h6{  
    position: relative;
  top: -60px;
  left: 50px;
}
.store h4{  
  position: relative;
top: -83px;
left: 50px;
}
.prod ul li{
  display: inline-block;
  padding: 5px 1px;
}
#eighth{
  /* width: 100%; */
  height: 350px;
  /* background-color: purple; */
}
.best{
  /* background-color: red; */
  margin-top: 70px;
  width: 100%;
  height: 30%;
}
.bed{

}
.bed ul li{
  display: inline-block;
  padding: 5px 1px;
}
.bed h4{
  line-height: 0;

}
.local{
  position: relative;
    top: 20px;
}
.sub{
  margin-top: 250px;
}
/* .ven-sec{
  margin-left: 70px;

} */
  /* Navbar links
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */

  /* .dropdown-form{margin-top: -40px;
  margin-left: 160px;} */

  .search-field{
    float: left;} 

  .main-header select{
    border: none;
    text-overflow: ellipsis;
    padding: 0 20px 0 5px;
  }
  .row{    
    /* width: 100%; */
    float: left;
    margin-left: 166px;
    margin-right: 0;
    margin-top: -48px;
  }

  select{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
    text-transform: none;
    margin: 0;
    font: inherit;

  }
    input select{
      outline: none;
    height: 32px;
    border: 1px solid #d1d1d1;
    color: #2b2b2b;
    padding: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    background-image: url(../images/select-box-arrow.png), linear-gradient(#FFF,#FFF);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 18px ,cover;
    background-repeat: no-repeat;
    background-position: right center,center;

    }
    input .main-header .search-area .dropdown-form {
      width: 138px;
      float: left;
      border-bottom: 1px solid #e0e0e0;
      padding: 0px;}
      .pos-relative {
        position: relative;
    }
    .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
